[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
yfinance = "*"
numpy = "*"
altair = "*"
datetime = "*"
openpyxl = "*"
xlwt = "*"
streamlit-aggrid = "*"
streamlit-lottie = "*"
dash = "*"
plotly = "==5.8.0"
mplfinance = "*"
stocktrends = "*"
pipwin = "*"
matplotlib = "==3.5"

[dev-packages]

[requires]
python_version = "3.10"
