[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
yfinance = "*"
numpy = "*"
matplotlib = "*"
altair = "*"
datetime = "*"
openpyxl = "*"
xlwt = "*"
streamlit-aggrid = "*"

[dev-packages]

[requires]
python_version = "3.10"
